<!DOCTYPE html>
<html lang="nl-NL">
<head>
  <meta charset="UTF-8">
  <title>Wees Gezegend</title>  
	<?php include($this->includeScript('/cssJsLibs/cssinit.php')); ?> 
</head>
<body>
<div class="innerBody">
	 <a href="<?php echo($this->globals['admin']);  ?>/login/logout"  
		style="float:right;" title="Afmelden"><img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/door.png" /></a>
	<h1>Admin Site UKGR Weesgezegend site</h1>
</div>	
<div class="innerBody main" >
	<?php include($pathToView); ?>
</div>	

</body>
</html>

