<h1  align="center">Aanmelding Admin Site</h1>
<form method="POST" action="<?php $this->printAction('validate'); ?>">
<table align="center"  style="margin-top:20px; margin-bottom:30px;">
   <tr>
      <td>Username</td>
      <td><input type="text" name="username"  value= "<?php echo($this->user); ?>"  /></td>
      <!-- autofocus  -->
   </tr>
   <tr>
      <td>Password</td>
      <td><input type="password" name="password"  value= ""  /></td>
   </tr> 
   <tr>
		<td valign="top">
			<label for="captcha">Captcha</label><br/>
			
		</td>
		<td valign="top">
			<img src="<?php echo($this->globals['admin']);  ?>/script/captcha.png" width="100" height="25" border="1" alt="CAPTCHA" 
			style="float:left;margin-right:10px;">           
			<input  type="text" name="captcha" maxlength="8" size="8" style="text-transform: uppercase;"> 
		</td>
   </tr>   
   <tr>      
      <td colspan="2" align="right"><input type="submit" name="login"  value= "Aanmelden" /> </td>
   </tr> 

   <tr>      
      <td colspan="2" align="center" style="color:red;"><?php echo($this->errorMessage); ?></td>
   </tr> 
</table>
</form>
