@import "common.css";

@-ms-viewport{
  width: device-width;
}

body {
    background: #FFFFFF; /* For browsers that do not support gradients */
    background: linear-gradient(to right,peachpuff, SeaShell  30%,white 50%, SeaShell  70% , peachpuff); /* Standard syntax */
    background: linear-gradient(to right,SkyBlue , white 40%,   white 60%,SkyBlue); /* Standard syntax */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000000;
    overflow: auto;
    vertical-align: top;
    padding-bottom : 5px;
}

div.innerBody {	
	display: block;
	overflow:hidden; 
}


marquee {
 font-size:10pt !important;
}


body.tv {
  margin : 0;
  background : black;
}

.ui-tabs .ui-tabs-panel{
    padding: 2px 2px;

}

