@import url("/cssJsLibs/jquery-ui-1.12.1/jquery-ui.css");

/*
@import url("/cssJsLibs/Base-UI/jquery-ui.css");
*/
h1 {
    color : #DD0000;
    font-size : 14pt;
}

h2 {
    color : #DD0000;
    font-size : 12pt;

}

h1.logo {
    text-align: left;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color : #DD0000;

}

h2.logo {
    text-align: center;

    display : block;
    background-image: url("images/ukgr.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    color : #DD0000;
    font-size : 12pt;
    text-align: center;
}

p {
    color : #200000;
    text-align: justify;
    text-justify: inter-word;
}

article {
    text-align: justify;
    text-justify: inter-word;
    color : #200000   ;
}

section p {
  text-align: justify;
  text-justify: inter-word;
}

P img.story {
    width : 40%;
    float:right;
    margin-left:20px;
}

.red-orange-brown {
    background-image: linear-gradient(to right, red, orange 20%, brown 66%, gold);
    background-image: linear-gradient(to right, gold, brown 20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}

blockquote {
  font-style:italic;
  color: navy;
  margin : 10px;
}


.blueToGold {
    background-image: linear-gradient(to right, brown  ,Chocolate   20%, orange 66%, BlanchedAlmond );
    color: transparent;
    -webkit-background-clip: text;
}

article.songs {
   text-align:center;
}

article.songs section {
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
}


a {
  text-decoration: none;
}

a.footer {
  text-decoration: none;
  color : seagreen !important;
}


.container {
position: relative;
width: 100%;
height: 0;
padding-bottom: 56.25%;

}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.menu {
   list-style-type: square;
   margin : 0;
   padding : 0;
}

ul.menu li:hover {
   margin : 0;
   padding : 0;
   background-color: lightblue;
}


div.audioOUTER {
	display: block;
	margin: 5px; 
	overflow:hidden;
}

div.progresstimer {
	display: block;
	margin-top: 5px; 
}

audio {
	display: block;
	margin: 0 auto;    
	margin-bottom :5px;  
}


div.audioOUTER select {
	display: block;
	margin: 0 auto;    
	margin-top :5px;
	margin-bottom :5px;
}

div.audioOUTER select option {
  text-align:center;
}


div.audioOUTER button.audiostate {
	float : right;
	border: none;
	background-color: transparent;
	outline: none;		
	background-repeat: no-repeat;
	background-position: center center; 
	width : 25px;
	height: 20px;
	color : transparent;
	cursor : pointer;
}

div.audioOUTER button.audiostate.on {
 background-image: url("/cssJsLibs/images/pauseEmpty.png"); 
}

/*
button.audiostate.on:hover {
 background-image: url("/cssJsLibs/images/pauseHover.png"); 
}

button.audiostate.off:hover {
 background-image: url("/cssJsLibs/images/playHover.png"); 
}
*/

div.audioOUTER button.audiostate.off {
 background-image: url("/cssJsLibs/images/playEmpty.png"); 
}

div.audioOUTER a.orgSite {
	float:left;
	margin-left: 2px;
	background-image: url("/cssJsLibs/images/www.png"); 
	background-repeat: no-repeat;
	background-position: center; 
	background-size:cover;
	width : 20px;
	height: 20px; 
}


div.accordion{
	 background-color: transparent; 	

}


div.accordion .ui-state-focus{
    outline: none;
}
		  
.ui-accordion-header.ui-state-active { 
    border :none;
	background-image: url("images/ukgr.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: contain;
} 

div.containerDrop {
	padding:0px !important;
	background-color:transparent;
}

div.sliderVolumeOUTER {
    clear : both;
    overflow:hidden;
	background-image: url("images/level.png");
    background-position: left 0px center 20px;
    background-repeat: no-repeat;

}

div.sliderVolumeINNER {
	/*
	margin-top:5px;
	margin-right:30px;
	margin-left:30px;
	* top right left bottom 
	*/ 
	margin : 5px 30px 20px 35px ;
	width: auto;	
}


div.sliderVolumeINNER .ui-widget-header{
	background-image:none;
	background-color:SteelBlue !important;
}


div.sliderProgressOUTER {
    clear : both;
    overflow:hidden;
}

/*
	margin: 25px 50px 75px 100px;
	top margin is 25px
	right margin is 50px
	bottom margin is 75px
	left margin is 100px
 */ 

div.sliderProgressINNER {
	/*
	margin-top:5px;
	margin-right:30px;
	margin-left:30px;
	* top right  bottom left
	*/ 
	margin : 10px 80px 10px 35px ;
	width: auto;
}


div.sliderProgressINNER .ui-widget-header{
	background-image:none;
	background-color:RebeccaPurple !important;
}


div.sliderProgressOUTER button.audiorewind {
    margin-top:5px;
	float : left;
	border: none;
	background-color: transparent;
	outline: none;		
	background-repeat: no-repeat;
	background-position: center center; 
	width : 25px;
	height: 25px;
	color : transparent;
	cursor : pointer;
	background-image: url("/cssJsLibs/images/rewind.png"); 
}


div.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.middle {
  display: table-cell;
  vertical-align: middle;
}

div.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
  background-color: white;
  border: 3px groove white;
