<h1  align="center">Foutmelding Admin Site</h1>
<table>
	<tr>
		<td><strong>Message:</strong> &nbsp;</td>
		<td><?php echo($this->errorObject->message); ?></td>
	</tr>
	<tr>
		<td><strong>File:</strong> &nbsp;</td>
		<td><?php echo($this->errorObject->file); ?></td>
	</tr> 
	<tr>
		<td><strong>Line:</strong> &nbsp;</td>
		<td><?php echo($this->errorObject->line); ?></td>
	</tr> 
	<tr>
		<td><strong>Return:</strong> &nbsp;</td>
		<td><a href="<?php echo($this->globals['admin']);  ?>"><img src="<?php echo($this->globals['admin']);  ?>/cssJsLibs/images/door.png" /></a> </td>
	</tr> 	
</table>





